faiss_cpu==1.9.0
Flask==3.1.0
huggingface_hub==0.25.2
langchain==0.3.9
langchain_community==0.3.9
langchain_core==0.3.21
langchain_huggingface==0.1.2
langchain_ollama==0.2.1
langchain_openai==0.2.11
pandas==2.2.3
python-dotenv==1.0.1
ragas==0.2.6
streamlit==1.39.0
transformers==4.45.2

